body {
    background-color: white;
}

h1 {
    font-family: 'DM Serif Text', serif;
    color: #cd2d6d;
    font-size: 50pt;
    margin-bottom: -25px;
    margin-left: 12%;
    
}

h2 {
    font-family: 'DM Serif Text', serif;
    color: #0c6d84;
    font-size: 18pt;
    margin-top: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    font-size: 12pt;
}

li {
    list-style-type: none;
    width: 30%;
    float: left;
    line-height: 50px;
    padding-left: 80px;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.fundo-listrado {
    background-image: url(background-listras.png);
    background-attachment: fixed;
}

.cargo-bio-foto {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 380px;
    background-color: #ffffff;
    padding-left: 7%;
    margin-left: 5%;
    padding-bottom: 0px
}

.cargo-bio-foto p {
    width: 650px;
}

.minha-foto {
    width: 500px;
    position: absolute;
    right: 0px;
    top: 40px;
}

.redes-sociais {
    background-color: rgb(17, 130, 146);
    width: 100%;
    padding-top: 50px;
    display: flex;
}

.redes-sociais li {
    padding-bottom: 20px;
    margin-left: 0px;   
    font-size: 13pt;  
}

.redes-sociais .icone {
    font-size: 30pt;
    margin-right: 10px;
    vertical-align: -6px;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #0c6d84;
    text-align: center;
}

.footer p {
    color: #ffffff;
    font-size: 8pt;
    padding-top: 8px;
    margin: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30pt;
        margin-bottom: -15px;
        margin-left: 8%;
        margin-top: 40px;
        
    }
    
    h2 {
        font-size: 16pt;
        margin-top: 30px;
        width: 80%;
    }
    
    p {
        font-size: 12pt;
    }

    li {
        width: 100%;
        float: left;
        padding-left: 0px;
    }

    .cargo-bio-foto {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 520px;
        padding-left: 5%;
        margin-left: 3%;
        padding-bottom: 0px
    }
    
    .cargo-bio-foto p {
        width: 80%;
    }
    
    .minha-foto {
        width: 300px;
        position: absolute;
        right: 0px;
        top: 560px;
    }

}

