body {
    background-color: white;
}

h1 {
    font-family: 'DM Serif Text', serif;
    color: #cd2d6d;
    font-size: 50pt;
    margin-bottom: -25px;
    margin-left: 12%;
    
}

h2 {
    font-family: 'DM Serif Text', serif;
    color: #0c6d84;
    font-size: 18pt;
    margin-top: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    font-size: 12pt;
}

li {
    list-style-type: none;
    width: 30%;
    float: left;
    line-height: 50px;
    padding-left: 80px;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.fundo-listrado {
    background-image: url(background-listras.png);
    background-attachment: fixed;
}

#retangulo-titulo {
    width: 580px;
    height: 150px;
    border: 4px solid;
    border-color: #8abfc4;
    position: absolute;
    left: 100px;
    transition: top ease 2s;
    transition: left ease 2.5s;
}
#retangulo-titulo:hover {
    left: 80px;
    top:30px;
}

#retangulo-imagem {
    width: 400px;
    height: 550px;
    border: 4px solid;
    border-color: #ffe9e3;
    position: absolute;
    right: 45px;
    top: 60px;
}

.cargo-bio-foto {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 380px;
    background-color: #ffffff;
    padding-left: 7%;
    margin-left: 5%;
    padding-bottom: 0px
}

.cargo-bio-foto p {
    width: 65%;
}

.minha-foto {
    width: 500px;
    position: absolute;
    right: 0px;
    top: 40px;
}

.redes-sociais {
    background-color: rgb(17, 130, 146);
    width: 100%;
    padding-top: 50px;
    display: flex;
}

.redes-sociais li {
    padding-bottom: 20px;
    margin-left: 0px;   
    font-size: 13pt;  
}

.redes-sociais .icone {
    font-size: 30pt;
    margin-right: 10px;
    vertical-align: -6px;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #0c6d84;
    text-align: center;
}

.footer p {
    color: #ffffff;
    font-size: 8pt;
    padding-top: 8px;
    margin: 0;
}

@media  (max-width: 400px) {
    h1 {
        font-size: 30pt;
        margin-bottom: -15px;
        margin-left: 8%;
        margin-top: 40px;
        
    }
    
    h2 {
        font-size: 16pt;
        margin-top: 30px;
        width: 60%;
    }
    
    p {
        font-size: 12pt;
    }

    li {
        width: 100%;
        float: left;
        padding-left: 0px;
    }

    #retangulo-titulo {
        width: 230px;
        height: 180px;
        border: 4px solid;
        border-color: #8abfc4;
        position: absolute;
        left: 10px;
        top: 20px;
    }
    
    #retangulo-imagem {
        width: 120px;
        height: 180px;
        border: 4px solid;
        border-color: #ffe9e3;
        position: absolute;
        right: 25px;
        top: 780px;
    }

    .cargo-bio-foto {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 670px;
        padding-left: 5%;
        margin-left: 3%;
        padding-bottom: 0px
    }
    
    .cargo-bio-foto p {
        width: 80%;
    }
    
    .minha-foto {
        width: 200px;
        position: absolute;
        right: 0px;
        top: 805px;
    }

    .redes-sociais li {
        padding-bottom: 10px;
        margin-left: 0px;   
        font-size: 12pt;  
    }
    
    .redes-sociais .icone {
        font-size: 20pt;
        margin-right: 10px;
        vertical-align: -6px;
    }

    
}

